html, body, #root, .App{
  height:100%;
}


/*------------------Login Page styles---------------------*/

.set-height{
  height: 100%;
}

.login-form{
  -webkit-box-shadow: 5px 5px 15px 5px #e0e0e0;
  box-shadow: 5px 5px 15px 5px #e0e0e0;
  padding: 3%;
}

/*.loginContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background:#fafafa;
  font-family:sans-serif;
}

.login{
  width:30%;
  height:40%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 5px 5px 15px 5px #e0e0e0;
  box-shadow: 5px 5px 15px 5px #e0e0e0;
}

.login header{
  font-weight:bold;
}

/*.login form{
  height:70%;
}

.login input{
  margin:2%;
  padding:2%;
  border:1px solid #fbf8f8;
  box-shadow:0 0 4px rgba(0,0,0,0.5);
  border-radius: 0px;
  font-size: 1em;
}

.login input[type="text"], .login input[type="password"]{
  width:80%;
}

.login input[type="submit"]{
  width: 50%;
  cursor: pointer;
  background: #009688;
  color: #ffffff;
  border-radius: 10px;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(7 97 88) 0%, rgb(23 144 133) 50%, rgb(4 132 120) 100%);
  box-shadow: rgb(68 68 68) 1px 1px 15px 2px;
  border: 1px solid rgb(15 148 136);
  display: inline-block;
}


.login input[type="submit"]:hover {
background: #009688;
}

.login input[type="submit"]:active {
background: #009688;
}*/




/*-----------------------Location page styles-------------------------*/
.locationPage{
  background : url('./assets/index.jpg') no-repeat;  /*background short-hand*/
  background-size: cover;
}

/*.homePage form{
  display:flex;
  align-items:center;
  justify-content:center;
  height:100%;
  background : url('./assets/index.jpg') no-repeat;
  background-size : cover;
}

.homePage input[type="text"]{
  padding:0.5%;
}
.homePage input[type="submit"]{
  padding: 0.5% 0 0.5% 0;
  cursor: pointer;
}*/

/*Restaurant page styles*/
.restaurantsPage .card{
  cursor: pointer;
}
/*.restaurantList {
  display:flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  background:#fafafa;
}

.restaurantList .restaurant{
  margin:2%;
  min-width:20%;
  cursor: pointer;
  transition : transform .2s;
}

.restaurantList .restaurant .restaurantName{
  width:90%;
}

.restaurant:hover{
  transform: scale(1.1);
}

.restaurantList span{
  font-size: 0.8em;
  color: #403e3e;
}*/

/*Restaurant details page styles*/
/*.RestaurantDetails{
  display:flex;
  justify-content: center;
  flex-wrap:wrap;
  background:#fafafa;
}

.RestaurantDetails .img-section {
  width:55%;
  padding:2% 2% 2% 5%;
  background:#efeeee;
  margin-top:2%;
}

.RestaurantDetails .img-section img{
  max-width : 80%;
  transition : transform .2s;
}

.RestaurantDetails .img-section img:hover{
  transform: scale(1.09);
}*/

.RestaurantDetailsPage .container{
  margin-top: 2%;
}

.rest-img{
  max-width: 80%;
}

.RestaurantDetailsPage .details-section{
  background:#efeeee;
}

.RestaurantDetailsPage .details-section > span {
  font-size: 0.8em;
  display:block;
  margin:1.5%;
}

.RestaurantDetailsPage .details-section .rest-type{
  background:grey;
  padding:1%;
  background: #d6d2cc;
  border-radius: 25%;
}
