html, body, #root, .App{
  height:100%;
}


/*Common styles*/
.AppHeader{
  width:100%;
  font-weight:bold;
  font-size: calc(10px + 2vmin);
  padding:1%;
  color: #fafafa;
  background-color: #282c34;
  cursor:pointer;
}

.AppHeader span {
  font-size: 0.5em;
  font-weight: normal;
  display: block;
  padding: 0.2%;
}
